@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>Widget Maker</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext" rel="stylesheet" type="text/css" />
	<link href="https://cdn.totaljs.com/spa.min.css" rel="stylesheet" type="text/css" />
	<link href="preview.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.totaljs.com/spa.min.js"></script>
	<script src="preview.js"></script>
</head>
<body data-jc="exec,binder">

	<div data-jc="shortcuts"></div>

	<div class="previewheader">
		<div class="widgets"><select name="component" style="width:200px">@{options(model)}</select></div>
		<nav class="previewheadernav hidden" data-b="common.detail" data-b-visible="value != null">
			<a href="javascript:void(0)" class="exec" data-exec="preview_refresh"><i class="fa fa-refresh"></i>Refresh</a>
			<a href="javascript:void(0)" class="exec" data-exec="preview_settings" data-b="common.detail.data.editor" data-b-visible="value"><i class="fa fa-cog"></i>Settings</a>
		</nav>
	</div>

	<iframe id="frm" src="about:blank" width="100%" height="100%" frameborder="0"></iframe>

	<div data-jc="form" data-jc-path="common.form" data-jc-config="if:settings;width:600;title:Settings;submit:settings_apply" class="hidden">
		<div class="ui-form-padding">
			<div data-jc="multioptions" data-jc-path="common.detail.options" style="margin-bottom:10px"></div>
		</div>
		<div class="ui-form-buttons">
			<button name="submit">Apply</button>
			<button name="cancel">Close</button>
		</div>
	</div>

</body>
</html>