/*auto*/
html,body { height: 100%; overflow: hidden; }

#frm { width: 100%; height: 100%; display: block; margin: 0 auto; }
.lg { width: 100%; }
.md { width: 1190px !important; }
.sm { width: 920px !important; }
.xs { width: 480px !important; }

.widgets { float: left; margin: 15px 20px 0; width: 300px; }

.previewheader { border-bottom: 1px solid #D0D0D0; height: 65px; background-color: #F8F8F8; font-size: 14px; }
.previewheader i { margin-right: 5px; }
.previewheadernav { float: left; margin: 20px 0 0 0; }

.previewheadernav button { outline: 0; background-color: transparent; border: 1px solid transparent; border-radius: 2px; font-size: 12px; height: 24px; padding: 0 5px; margin: 0; color: black; margin-right: 5px; }
.previewheadernav button i { margin-right: 5px; }
.previewheadernav button.highlight { background-color: #FAFAFA; box-shadow: 0 1px 2px rgba(0,0,0,0.03); }
.previewheadernav button:hover { background-color: white; box-shadow: 0 1px 2px rgba(0,0,0,0.03); }
.previewheadernav span { margin: 2px 10px 0 5px; border-left: 1px solid #D0D0D0; height: 20px; padding: 0 2px 0 0; vertical-align: middle; display: inline-block; position: relative; }
.previewheadernav button:disabled { color: silver; cursor: not-allowed; background-color: #E0E0E0 !important; box-shadow: none; }
.previewheadernav button:disabled i { color: silver; }

.previewheadercheckbox { float: left; margin: 24px 0 0 0; }
.previewheaderdisplay { float: right; margin: 22px 20px 0 0; }

.base64form { width: 250px; border: 1px solid #E0E0E0; border-radius: 2px; float: left; margin-right: 20px; }
textarea.selectall { width: 100%; height: 150px; font-size: 11px; resize: none; border: 1px solid #D0D0D0; outline: 0; padding: 5px; }

.ui-multioptions { background-color: white; padding: 0 0 15px; }
.ui-multioptions-item { height: 36px; padding: 0 10px; background-color: #F5F7FA; border-top: 1px solid #E0E0E0; }
.ui-multioptions-item:first-child { border-top: 0; border-top-right-radius: 4px; border-top-left-radius: 4px; }
.ui-multioptions-item:last-child { border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }

.ui-moi-name { float: left; width: 30%; font-size: 12px; margin: 10px 0 0 0; padding-right: 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ui-moi-value { float: right; width: 70%; }
.ui-moi-value-inputtext { font-size: 11px; border: 0; background-color: white; width: 100%; margin: 8px 0 0 0; padding: 0 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputnumber input { font-size: 11px; border: 0; background-color: white; width: 100%; margin: 8px 0 0 0; padding: 0 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputnumber { margin-left: 40px; }
.ui-moi-value-inputnumber-buttons { float: left; width: 40px; }
.ui-moi-value-inputnumber-buttons span { width: 19px; float: left; text-align: center; margin: 8px 1px 0 0; padding: 3px 0 0 0; height: 20px; cursor: pointer; color: #656D78; font-size: 12px; background-color: #CCD1D9; }
.ui-moi-value-inputnumber-buttons span:hover { background-color: #656D78; color: white; }

.ui-moi-value-inputpath input { font-size: 11px; border: 0; background-color: white; width: 100%; margin: 8px 0 0 0; padding: 0 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputpath { margin-left: 20px; }
.ui-moi-value-inputpath-buttons { float: left; width: 20px; }
.ui-moi-value-inputpath-buttons span { width: 19px; float: left; text-align: center; margin: 8px 1px 0 0; padding: 2px 0 0 0; height: 20px; cursor: pointer; color: #656D78; font-size: 12px; background-color: #CCD1D9; }
.ui-moi-value-inputpath-buttons span:hover { background-color: #656D78; color: white; }

.ui-moi-value-inputdate input { font-size: 11px; border: 0; background-color: white; width: 100%; margin: 8px 0 0 0; padding: 0 6px 0; color: black; outline: 0; height: 20px; line-height: 15px; }
.ui-moi-value-inputdate { margin-left: 20px; }
.ui-moi-value-inputdate-buttons { float: left; width: 20px; }
.ui-moi-value-inputdate-buttons span { width: 19px; float: left; text-align: center; margin: 8px 1px 0 0; padding: 2px 0 0 0; height: 20px; cursor: pointer; color: #656D78; font-size: 12px; background-color: #CCD1D9; }
.ui-moi-value-inputdate-buttons span:hover { background-color: #656D78; color: white; }

.ui-moi-value-colors { margin: 8px 0 0 0; }
.ui-moi-value-colors span { width: 4%; height: 20px; float: left; text-align: center; cursor: pointer; color: white; }
.ui-moi-value-colors .fa { display: none; padding: 3px 0 0 0; }
.ui-moi-value-colors .selected .fa { display: block; }

.ui-moi-value-select { background-color: white; position: relative; width: 100%; overflow: hidden; margin: 7px 0 0 0; }
.ui-moi-value-select select { width: 120%; outline: 0; border: 0; height: 20px; background-color: white; font-size: 11px; float: left; cursor: pointer; padding: 0; margin: 2px 0 0 8px; color: black; appearance: none; -moz-appearance: none; -webkit-appearance: none; }
.ui-moi-value-select .fa { position: absolute; right: 7px; top: 5px; font-size: 10px; color: gray; }

.ui-moi-value-boolean { margin: 9px 0 0 0; width: 19px; height: 19px; border: 1px solid #D0D0D0; text-align: center; font-size: 12px; color: white; padding: 2px 0 0 0; cursor: pointer; background-color: white; }
.ui-moi-value-boolean .fa { display: none; }
.ui-moi-value-boolean.checked .fa { display: block; }
.ui-moi-value-boolean.checked { background-color: #017CCA; border-color: #017CCA; }

.noscroll { overflow: hidden; }
.hidden { display: none; }

.ui-form-noscroll, .ui-form-noscroll body { overflow: hidden; }
.ui-form-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(230,233,237,0.8); z-index: 5; overflow-y: scroll; transform-style: preserve-3d; overflow-scrolling: touch; }
.ui-dark .ui-form-container { background-color: rgba(100,100,100,0.2); }
.ui-form-container-padding { padding: 0 12px;}
.ui-form { background-color: white; margin: 0 auto 30px; border-radius: 3px; box-shadow: 0 0 30px rgba(0,0,0,0.05); transform: translate(0, -500px); transition: all 0.2s; opacity: 0; }
.ui-dark .ui-form { background-color: #202020; }
.ui-form-animate { transform: skewX(0deg); opacity: 1; }
.ui-form-animate-click { transform: skewX(-2deg); }
.ui-form-title { padding: 18px 20px; font-size: 16px; user-select: none; color: black; background-color: white; border-bottom: 1px solid #E0E0E0; height: 58px; }
.ui-form-title .ui-form-button-close { float: right; cursor: pointer; font-size: 18px; margin: -2px 0 0 0; transition: all 0.2s; background: none; border: 0; outline: 0; height: auto; color: red; text-align: right !important; width: 20px; padding: 0; }
.ui-form-title .ui-form-button-close:hover { transform: scale(1.2); }
.ui-form-title > span { font-weight: bold; }
.ui-form-title i { margin-right: 7px; }
.ui-dark .ui-form-title { background-color: #191919; border-bottom-color: #191919; color: white; }
.ui-form > nav { padding: 0 20px 0; border-top: 1px solid #E0E0E0; background-color: white; border-radius: 0 0 2px 2px; line-height: 65px; height: 65px; display: block; float: none; position: relative; }
.ui-dark .ui-form > nav { background-color: #202020; border-top-color: #303030; }
.ui-form > nav button { border: 0; margin: 15px 0 0; background-color: #F0F0F0; height: 34px; padding: 0 20px; color: black; cursor: pointer; font-family: Arial; line-height: 34px; vertical-align: middle; outline: 0; font-size: 14px; text-decoration: none; transition: all 0.3s; float: left; }
.ui-dark .ui-form nav button { border-color: #202020; background-color: #505050; color: #E0E0E0; }
.ui-form > nav button i { width: 16px; }
.ui-form > nav button:hover { opacity: 0.9; }
.ui-form > nav button:active { background-color: #D0D0D0; }
.ui-form > nav button:disabled { background-color: #F5F5F5 !important; border-color: #E0E0E0 !important; color: silver !important; cursor: not-allowed; box-shadow: none; }
.ui-form > nav button:first-child { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-form > nav button:last-child { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-form > nav button[name='submit'] { max-width: 250px; width: 100%; font-weight: bold; background-color: #4285F4; color: white; font-size: 14px; }
.ui-dark .ui-form > nav button:disabled { background-color: #303030 !important; color: #606060 !important; border-color: #202020 !important; }

@media(max-width: 767px) {
	.ui-form-container-padding { padding: 0; }
	.ui-form > nav button[name='submit'] { max-width: 180px; }
}

@media(max-width: 350px) {
	.ui-form-container-padding { padding: 0; }
	.ui-form > nav button[name='submit'] { max-width: 150px; }
}

.ui-input { position: relative; font-size: 13px; }
.ui-input-required .ui-input-control { border-color: #D0D0D0; }
.ui-input-label { margin-bottom: 3px; font-size: 12px; }
.ui-input-label i { margin-right: 4px; }
.ui-input-required .ui-input-label:before { content: '***'; color: red; margin-right: 3px; }
.ui-input-control { border: 1px solid #E0E0E0; border-radius: 3px; height: 32px; background-color: white; }
.ui-input-input { padding: 6px 2px 0 6px; position: relative; line-height: 20px; }
.ui-input-placeholder { position: absolute; color: gray; margin: 0; user-select: none; cursor: text; width: 100%; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-input-control input { border: 0; outline: 0; background-color: white; width: 100%; padding: 0; margin: 0; line-height: 15px; font-size: 13px; color: black; font-family: Arial; }
.ui-input-control input::-ms-expand { display: none; }
.ui-input-icon-left { width: 32px; height: 30px; line-height: 32px; float: left; text-align: center; border-right: 1px solid #E0E0E0; }
.ui-input-icon-right { width: 32px; height: 30px; line-height: 32px; float: right; border-left: 1px solid #E0E0E0; text-align: center; }
.ui-input-required .ui-input-icon-left { border-color: #D0D0D0; }
.ui-input-required .ui-input-icon-right { border-color: #D0D0D0; }
.ui-input-ricon .ui-input-input { margin-right: 35px; }
.ui-input-licon .ui-input-input { margin-left: 32px; }
.ui-input-ricon .fa-times, .ui-input-licon .fa-times { color: red; }
.ui-input-click { cursor: pointer; }
.ui-input-error { margin-top: 7px; font-size: 11px; color: red; }
.ui-input .right input, .ui-input .right .ui-input-placeholder { text-align: right; }
.ui-input .center input, .ui-input .center .ui-input-placeholder { text-align: center; }
.ui-input-dropdown, .ui-input-dropdown input, .ui-input-dropdown .ui-input-placeholder { cursor: pointer; }
.ui-input-invalid .ui-input-control, .ui-input-invalid .ui-input-icon-left, .ui-input-invalid .ui-input-icon-right { border-color: red; }
.ui-input.ui-disabled .ui-input-control { background-color: #F0F0F0; }
.ui-input.ui-disabled input { background-color: #F0F0F0; color: #A0A0A0; }
.ui-input.ui-disabled .ui-input-placeholder { color: #A0A0A0; }
.ui-input.ui-disabled .ui-input-icon-left, .ui-input.ui-disabled .ui-input-icon-right { color: gray; }
.ui-input-increment { padding: 5px 0 0; }
.ui-input-increment i { display: block; line-height: 10px; font-size: 15px; cursor: pointer; }
.ui-input-inner { line-height: 17px; }
.ui-input-inner .ui-input-label { position: absolute; z-index: 1; margin: 11px 0 0 7px; font-size: 13px; }
.ui-input-inner.ui-input-binded .ui-input-label { font-size: 11px; margin-top: 3px; color: gray; }
.ui-input-inner .ui-input-input { padding-top: 9px; }
.ui-input-binded.ui-input-inner .ui-input-input { padding-top: 15px; }
.ui-input-inner .ui-input-control { height: 38px; }
.ui-input-inner .ui-input-icon-left, .ui-input-inner .ui-input-icon-right { height: 37px; line-height: 37px; }
.ui-input-inner.ui-input-required .ui-input-label:before { content: '*'; }
.ui-input-inner .ui-input-increment { padding: 8px 0 0; }
.ui-input-inner .ui-input-increment i { line-height: 10px; }
.ui-input-masked input { letter-spacing: 1px; font-family: Menlo,Consolas,monospace; }

.ui-checkbox { margin-bottom: 5px; line-height: 10px; font-size: 12px; }
.ui-checkbox span { cursor: pointer; vertical-align: middle; }
.ui-checkbox div { position: relative; display: inline-block; width: 16px; height: 16px; border: 1px solid #D0D0D0; margin-right: 6px; vertical-align: middle; cursor: pointer; color: white; font-size: 11px; text-align: center; padding: 0 0 0 1px; background-color: white; border-radius: 2px; }
.ui-checkbox div .fa { display: none; }
.ui-checkbox-checked div { background-color: #4285F4; border-color: #4285F4; }
.ui-checkbox-checked div .fa { display: block !important; line-height: 15px; }
.ui-checkbox.ui-disabled div { background-color: #F0F0F0 !important; border-color: #E0E0E0 !important; color: gray !important; }

.ui-directory { position: absolute; opacity: 0; transition: 0.25s transform cubic-bezier(0.23, 1, 0.32, 1); left: -100; top: -100; z-index: 100; box-shadow: 0 1px 20px rgba(0,0,0,0.1); background-color: white; border-radius: 3px; border: 1px solid #E0E0E0; overflow: hidden; transition: all 0.2s; }
.ui-directory-search { height: 38px; background: white; border-radius: 3px 3px 0 0; border-bottom: 1px solid #E0E0E0; line-height: 22px; }
.ui-directory-search input { width: 100%; background-color: white; border: 0; font-size: 12px; outline: 0; padding: 0; margin: 0; line-height: 16px; outline: 0; }
.ui-directory-search > div { margin: 0 20px 0 35px; padding: 6px 10px 0 0; line-height: 24px; }
.ui-directory-search > span { float: left; width: 16px; text-align: center; padding: 8px 0 0 12px; font-size: 12px; }
.ui-directory-add { float: right !important; padding-left: 0 !important; color: gray; text-align: left !important; font-size: 11px !important; cursor: pointer; width: 22px !important; }
.ui-directory-add:hover { color: black; }
.ui-directory-search .fa-times { color: red; cursor: pointer; }
.ui-directory-visible { opacity: 1; }
.ui-directory-container { height: 150px; overflow-x: hidden; overflow-y: auto; overflow-scrolling: touch; margin: 0 30px 0 0; padding: 0; }
.ui-directory ul { list-style-type: none; margin: 0; padding: 0; }
.ui-directory .selected { background-color: #E9E9E9; color: black; }
.ui-directory .current { background-color: #F2F2F2; color: black; }
.ui-directory-default li { padding: 0 40px 0 10px; height: 26px; line-height: 26px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.ui-directory li { border-top: 1px solid #F0F0F0; font-size: 12px; background-color: white; cursor: pointer; margin: 0; }
.ui-directory li:first-child { border-top: 0; }
.ui-directory-search-hidden .ui-directory-search { height: 0; overflow: hidden; opacity: 0; }

.ui-dark .ui-directory { background-color: #303030; border-color: #404040; box-shadow: 1px 5px 10px rgba(0,0,0,0.2); }
.ui-dark .ui-directory-search { background: #303030; }
.ui-dark .ui-directory li { background-color: #303030; border-color: #404040; }
.ui-dark .ui-directory-search { border-bottom-color: #404040; }
.ui-dark .ui-directory-search input { background-color: #303030; }
.ui-dark .ui-directory-add:hover { color: white; }
.ui-dark .ui-directory .current { background-color: #404040; color: white; }
.ui-dark .ui-directory .selected { background-color: #505050; color: white; }

.ui-radiobutton { color: black; font-size: 14px; vertical-align: baseline; }
.ui-radiobutton .ui-radiobutton-inner[data-value] { cursor: pointer; margin: 0 10px 10px 0; line-height: 16px; position: relative; display: inline-block; }
.ui-radiobutton span { vertical-align: middle; }
.ui-radiobutton-block .ui-radiobutton-inner[data-value]{ margin-bottom: 4px; display: block; }
.ui-radiobutton i { width: 14px; height: 14px; display: inline-block; position: relative; border-radius: 100px; border: 1px solid #A0A0A0; margin-right: 5px; vertical-align: middle; background-color: white; }
.ui-radiobutton-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-radiobutton-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-radiobutton-selected i { border-color: black; }
.ui-radiobutton-selected i:before { content: ' '; width: 8px; height: 8px; background-color: black; display: block; position: absolute; border-radius: 100px; margin: 2px 0 0 2px; }
.ui-radiobutton-custom { display: inline-block; border: 1px solid #ccc; padding: 10px; position: relative; margin: 0 10px 10px 0; cursor: pointer; border-radius: 2px; text-align: center; user-select: none; }
.ui-radiobutton-custom.ui-radiobutton-selected { background-color: #4285F4; color: white; border-color: rgba(0, 0, 0, 0.2); }
.ui-radiobutton.ui-disabled .ui-radiobutton-custom { cursor: not-allowed !important; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-custom.ui-radiobutton-selected { background-color: #F0F0F0; border-color: #E0E0E0; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value]{ cursor: not-allowed !important; color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-selected { color: gray !important; }
.ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value] i { border-color: gray; }
.ui-radiobutton.ui-disabled .ui-radiobutton-inner[data-value] i:before { background-color: gray; }

.ui-colorpicker-container { position: absolute; z-index: 109; }
.ui-colorpicker { border: 1px solid #E0E0E0; font-size: 14px; color: black; width: 240px; background-color: white; box-shadow: 0 5px 10px rgba(0,0,0,0.08); border-radius: 3px; overflow: hidden; margin: 0; padding: 7px 0 3px; }
.ui-colorpicker-body { text-align: center; }
.ui-colorpicker-body div:nth-child(1) { margin-bottom: 0; }
.ui-colorpicker-body div:nth-child(2) { margin-bottom: 8px; padding-bottom: 2px; border-bottom: 1px solid #E0E0E0; }
.ui-colorpicker-cell { cursor: pointer; width: 19px; height: 15px; display: inline-block; }
.ui-colorpicker-cell span { display: block; height: 15px; margin: 0 2px; border-radius: 2px; border: 1px solid rgba(0,0,0,0.1); }
.ui-colorpicker-body span:hover { border-color: rgba(0,0,0,0.3); }

.ui-colorpickerbutton.ui-disabled { cursor: not-allowed !important; color: #A0A0A0 !important; }
.ui-colorpickerbutton { border: 1px solid #E0E0E0; height: 32px; border-radius: 2px; cursor: pointer; background-color: white; color: black; }
.ui-colorpickerbutton:hover { border-color: #D0D0D0; }
.ui-colorpickerbutton-color { height: 24px; margin: 3px 35px 0 3px; border-radius: 2px 0 0 2px; }
.ui-colorpickerbutton-arrow { width: 32px; float: right; display: block; text-align: center; line-height: 31px; height: 31px; border-left: 1px solid #E0E0E0; }

.ui-window-noscroll, .ui-window-noscroll body { overflow: hidden; }
.ui-window-container { width: 100%; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(230,233,237,0.8); z-index: 5; overflow: none; transform-style: preserve-3d; height: 100%; }
.ui-window { background-color: white; margin: 0 auto 30px; transform: scale(0.8); transition: all 0.2s; opacity: 0; }
.ui-window-header { height: 50px; }
.ui-window-scroll { overflow-scrolling: touch; overflow-y: auto; }
.ui-window-animate { transform: scale(1); opacity: 1; }
.ui-window-title { white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; padding: 14px 20px 0; font-size: 14px; user-select: none; color: black; background-color: white; border-bottom: 1px solid #F0F0F0; position: absolute; left: 0; right: 0; top: 0; height: 50px; }
.ui-window-title .ui-window-button-close { float: right; cursor: pointer; font-size: 18px; transition: all 0.2s; background: none; border: 0; outline: 0; height: auto; color: red; text-align: right !important; padding: 0; width: auto; }
.ui-window-title .ui-window-button-close:hover { transform: scale(1.2); }
.ui-window-title > span { font-weight: bold; }
.ui-window-title > .fa { margin-right: 7px; }
.ui-dark .ui-window { background-color: #202020; }
.ui-dark .ui-window-title { background-color: #202020; border-bottom-color: #191919; color: white; }